<% provide :title, t(".home") %>
<h1><%= t ".home" %></h1>
<div class="col-md-8 content-main">
   <div class="content-grid">
     <div class="content-grid-info">
       <%= image_tag "" %>
       <div class="post-info">
         <h4><a href="#"></h4>
         <a href="#"><span></span></a>
       </div>
     </div>
   </div>
</div>
