<tr>
  <td>
    <div class="image">
      <div class="circle-1"></div>
      <div class="circle-2"></div>
      <%= image_tag @user.avatar_url() if @user.avatar? %>
    </div>
    <%= link_to user.name, user_path(user) %>
  </td>
  <td>
    <span class="label label-primary">
      <%= user.created_at.strftime("%Y-%m-%d") %>
    </span>
  </td>
  <td class="text-center">
    <span class="label label-default"></span>
  </td>
  <td>
    <a href="#"><%= user.email %></a>
  </td>
</tr>
