$black: #000;
$color_celeste_approx: #ccc;
$grayc2c2c2: #c2c2c2;
$green468847: #468847;
$not13232f: #13232f;
$pinkeed3d7: #eed3d7;
$pinkf2dede: #f2dede;
$redb94a48: #b94a48;
$white: #fff;
$whited6e9c6: #d6e9c6;
$whitedfdfdf: #dfdfdf;
$whitedff0d8: #dff0d8;
$whitef2f2f2: #f2f2f2;
